{% extends "base.twig" %}

{% block content %}

	<section class="main book-single">
		
		<div class="b-language">
			{% if record.flag %}<img src="{{ global.request.baseUrl }}/img/flags/{{ record.flag }}.png">{% endif %}
			<span>{{ record.language }}</span>
		</div>

		<h2 class="b-title">{{ record.title }} {% if record.volume %}<span class="b-volume">(Vol. {{ record.volume }})</span>{% endif %}</h2>
		<h4 class="b-subtitle">{{ record.subtitle }}</h4>

		<ul class="book-fields">

			{% if record.author %}<h3 class="b-author">{{ record.author }}</h3>{% endif %}
			<hr>
			<li class="b-year">
				<h5>Year of publication</h5>
				{{ record.year }}
			</li>

			<li class="b-isbn">
				<h5>ISBN</h5>
				{{ record.isbn|default('<em>(not recorded)</em>')|raw }}
			</li>

			<li class="b-call">
				<h5>Call n.</h5>
				{{ record.call }}
			</li>

			<li class="b-exemplars">
				<h5>Exemplar</h5>
				{{ record.exemplar }}
			</li>

			<li class="b-classification">
				<h5>Classification</h5>
				<ul class="b-class-tree">
					<li class="level-0">
						<span class="b-class-label">{{ record.section }}</span>
					</li>
					{% for class, label in record.classTree %}
					<li class="level-{{ loop.index }}">
						<span class="b-class">{{ class }}</span>
						<span class="b-class-label">{{ label }}</span>
					</li>
					{% endfor %}

					<li class="b-class-main level-{{ record.classTree|length + 1 }}">
						<span class="b-class">{{ record.class }}</span>
						<span class="b-class-label">{{ record.classLabel }}</span>
					</li>
				</ul>
			</li>

		</ul>

		<div class="where">
			<h6>Where to find this book</h6>
			👉 Go to the <b>{{ record.section }}</b> room,<br>
			👉 search the class <b>{{ record.class }}</b>, <br>
			👉 then locate this label:<br>

			<div class="center">
				<div class="label label-{{ record.section|lower }}">

				{% if record.section == 'Philosophy' %}

					<small>Redemptoris<br>Mater<br>Tanzania<br></small>

					<img src="/img/SRM.svg" height="32" alt="[logo]"><br>

					{{ record.class }}<br>
					{{ record.labelLine1 }}<br>
					{{ record.labelLine2 }}<br>

				{% else %}

					<small>Redemptoris Mater</small><br>
					<img src="/img/SRM.svg" height="32" alt="[logo]"><br>
					<u>TANZANIA</u><br>

					{{ record.call }}<br>
					{{ record.class }}/B<br>
					Ex. {{ record.exemplar }}
				
				{% endif %}

				</div>
			</div>
		</div>

	</section>

{% endblock %}