{% extends "base.twig" %}

{% block content %}

	<section class="main">

		<h1>Found {{ results|length }} results with “{{ searchTerm }}”</h1>

		<table class="search-results">
		{% for result in results %}
			<tr>
				<td>
					<a href="{{ global.request.basePath }}/record/{{ result.record.id }}">
						<h2 class="b-title">
							<span class="b-language">
								{% if result.record.flag %}
								<img src="{{ global.request.basePath }}/img/flags/{{ result.record.flag }}.png">
								{% endif %}
							</span>
							{% if global.debug %}[{{ result.score }}]{% endif %}
							{{ result.record.title|raw }} 
							{% if result.record.volume %}<span class="b-volume">(Vol. {{ result.record.volume }})</span>{% endif %}
						</h2>
						<h4 class="b-subtitle">{{ result.record.subtitle|raw }}</h4>
					</a>

					<p class="b-classification">
						<span class="b-class">{{ result.record.class }}</span>
						<span class="b-class-label">{{ result.record.classLabel }}</span>
					</p>
				</td>
				<td>
					<h3 class="b-author">{{ result.record.author|raw }}</h3>
				</td>
			</tr>
		{% endfor %}
		</table>

	</section>

{% endblock %}