{% extends "base.twig" %}

{% block content %}

	<section class="main">

		{% if matchFields is defined %}
		<h1>
			<small>{{ results|length }}&nbsp;{% trans %}book(s){% endtrans %} </small>
			{% for field, value in matchFields %}
				{% if loop.index > 1 %}<em>and</em> {% endif %} 
				<em>{{ field|trans }}:</em> &nbsp; {{ value }}<br>
			{% endfor %}
		</h1>
		{% else %}
		<h1>{% trans with {'%results%': results|length, '%searchTerm%': searchTerm} %}Found %results% results with “%searchTerm%”{% endtrans %}</h1>
		{% endif %}

		<table class="search-results">
		{% for result in results %}
			<tr>
				<td>
					<a href="{{ global.request.basePath }}/record/{{ result.record.id }}">
						<h2 class="b-title">
							<span class="b-language">
								{% if result.record.flag %}
								<img src="{{ global.request.basePath }}/img/flags/{{ result.record.flag }}.png">
								{% endif %}
							</span>
							{% if global.debug and result.score is defined %}[{{ result.score }}]{% endif %}
							{{ result.record.title|raw }} 
							{% if result.record.volume %}<span class="b-volume">(Vol. {{ result.record.volume }})</span>{% endif %}
						</h2>
						<h4 class="b-subtitle">{{ result.record.subtitle|raw }}</h4>
					</a>

					<p class="b-classification">
						<span class="b-class">{{ result.record.class }}</span>
						<span class="b-class-label">{{ result.record.classLabel }}</span>
					</p>
				</td>
				<td>
					<h3 class="b-author"><a title="{% trans %}Find all books by this author{% endtrans %}" href="{{ global.request.basePath }}/match?author={{ result.record.author|url_encode }}">{{ result.record.author|replace({'&': "<br>"})|raw }}</a></h3>
				</td>
			</tr>
		{% endfor %}
		</table>

	</section>

{% endblock %}