{% extends "base.twig" %}

{% block content %}

	<section class="main page-search">

		{% if matchFields is defined %}
		<h1>
			<small>{{ results|length }}&nbsp;{% trans %}book(s){% endtrans %} </small>
			{% for field, value in matchFields %}
				{% if loop.index > 1 %}<em>{% trans %}and{% endtrans %}</em> {% endif %} 
				<em>{{ field|trans }}:</em> &nbsp; {{ value }}<br>
			{% endfor %}
		</h1>
		{% else %}
		<h1>{% trans with {'%results%': results|length, '%searchTerm%': searchTerm} %}Found %results% results with “%searchTerm%”{% endtrans %}</h1>
		{% endif %}

		{% if showAdvancedSearch %}
		<form method="get" action="{{ urlWithoutParams }}" class="search-fields" onchange="this.submit()">

			<input type="hidden" name="searchBooks" value="{{ searchTerm }}">

			<fieldset>
				<legend>Search on fields</legend>

			{% for field in allFields %}
				<input type="checkbox" name="searchOnFields[{{ field }}]" {% if field in searchOnFields %}checked="checked" {% endif %} id="field-{{ field }}">
				<label for="field-{{ field }}">{{ field|trans }}</label>
			{% endfor %}

			</fieldset>
		</form>
		{% endif %}

		<table class="search-results">
		{% for result in results %}
			<tr>
				<td>
					<a href="{{ global.request.basePath }}/record/{{ result.record.id }}">
						<h2 class="b-title">
							<span class="b-language">
								{% for flag in result.record.flag %}
									{% if flag %}
									<img src="{{ global.request.basePath }}/img/flags/{{ flag }}.png">
									{% endif %}
								{% endfor %}
							</span>
							{% if global.debug and result.score is defined %}[{{ result.score }}]{% endif %}
							{{ result.record.title|raw }} 
							{% if result.record.volume %}<span class="b-volume">(Vol. {{ result.record.volume }})</span>{% endif %}
						</h2>
						<h4 class="b-subtitle">{{ result.record.subtitle|raw }}</h4>
					</a>

					<p class="b-classification">
						<span class="b-class">{{ result.record.class }}</span>
						<span class="b-class-label">{{ result.record.classLabel }}</span>
					</p>
				</td>
				<td>
					<h3 class="b-author">
						{% for author in result.record.author %}
						<a title="{% trans %}Find all books by this author{% endtrans %}" href="{{ global.request.basePath }}/match?author={{ author|replace({'<em>': '', '</em>': ''})|url_encode }}">{{ author|raw }}</a>
						{% endfor %}
					</h3>
				</td>
			</tr>
		{% endfor %}
		</table>

	</section>

{% endblock %}